.header {
  background: var(--theme-element);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: var(--desktop-width);
  padding: 24px 48px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 2.4rem;
}

.button {
  background: none;
  border: none;
  color: var(--theme-text);
  font-size: var(--body-text-home);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 6px;
}