@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}

.container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  animation: spin 1000ms linear infinite;
  line-height: 0;
}