.container {
  max-width: var(--desktop-width);
  padding: 24px 48px;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 48px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 48px;
}

@media all and (max-width: 500px) {
  .controls {
    flex-direction: column;
    align-items: flex-start;
  }
}